/* default styles */

ul {
  list-style-type: none;
}

a, a:active {
  text-decoration: none;
  color: #000;
}

html {
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  letter-spacing: 0.04em;
  padding: 2vh 3.5vw;
  margin: 0;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(242, 242, 242, 0.25);
}

html, body {
  height: 100%;
}

.work-column {
  width: 1105vw;
  height: 165vh;
  margin-top: 10.4rem;
  position: absolute;
  margin-left: 20vw;
}

.elements {
  position: relative;
  padding-right: 1.3rem

}

.s-media {
  display: block;
  position: absolute;
  top: 840px;
}


.mega {
  font-size: 1.2500rem;
  line-height: 1.7500rem;
}

.milli {
  font-size: 0.7502rem;
  line-height: 1.1250rem;
}

h6, .kilo, input, textarea {
  font-size: 1.0000rem;
  line-height: 1.4000rem;
}

.grey {
  color: #262626;
}


.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.sans {
  font-family: 'Lato', sans-serif;
}

.serif {
  font-family: 'Gentium Book Basic', serif;'
}

h1 {
  margin: 0;
}

h2 a {
  margin-right: 1.3rem;
}


p {
  margin: 0;
}

.grey-2 a {
  color: #857C7E;
}


footer {
  margin-top: 10.4rem;
  margin-bottom: 1.3rem;
}


.gutter-right {
  padding-right: 3.6rem;
}


.img-flex {
  display: block;
  width: 100%;
}

.unit-select {
  width: 65vw;
}

.unit {
  width: 30vw;
}

h1 a:hover {
  outline: none;
  text-decoration: none;
}

a:hover {
  outline: none;
  text-decoration: underline;
}

.centre {
  text-align: center;
}

.logo {
  padding-top: 2.6rem;
  position: fixed;
  z-index: 10;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
}

.navigation-bottom {
  z-index: 9;
  bottom: 5vh;
  position: fixed;
}

.navigation-top {
  z-index: 9;
  bottom: 82vh;
  position: fixed;
  display: block;
  width: 50px;
}

.push-7 {
  margin-bottom: 5.2rem;
}

.margin-0 {
  margin: 0;
}

.work-info {
  margin-bottom: 1.3rem;
  padding-top: .65rem;
}

.work-info-page {
  padding-top: 2.6rem;
  width: 65vw;
  text-align: center;
}


#header {
  width: 90px;
}


.left {
  float: left;
}

.right {
  float: right;
}

.hello {
  margin-left: 11.7rem;
}

h2 a {
  left: 50%;
}

.hello-container {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  width: 50%;
}

.portrait-container {
  margin-top: 6.5rem;
}


.pad-top, .pad-t {
  padding-top: 1.3rem;
}

.pad-top-1-4, .pad-t-1-4 {
  padding-top: 0.3250rem;
}


@media only screen and (min-width: 17em) {

    html {
      font-size: 105%;
      }
    }

  .img-flex-1-2 {
    width: 100vw;
  }

  .portrait-container {
    margin-top: 6.5rem;
    padding-left: 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

.img-flex-1-2 {
  width: 70vw;
  display: block;
  }

}

@media only screen and (min-width: 51em) {

.img-flex-1-2 {
  width: 65vw;
  display: block;
  }

}


@media only screen and (min-width: 55em) {

.img-flex-1-2 {
  width: 50vw;
  display: block;
  }

}



@media only screen and (min-width: 66em) {

.img-flex-1-2 {
  width: 35vw;
  display: block;
  }

}



/* spacing *


.portrait-container {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  margin-top: 1.3rem;
}



@media only screen and (min-width: 20em) {

  .portrait-container {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

}







/* spacing *












.header-wrapper {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  padding-top: 2.6rem;
  max-width: 2rem;
  max-height: 99px;
}

.main-container {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  margin-top: 7.8rem;
}



.footer-container {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  margin-top: 3.9rem;
  margin-bottom: 1.3rem;
}

.push-container {
  margin-top: 11.7rem;
}

.nav-container {
  margin-bottom: 2.6rem;
}


.work-text {
  width: 35%;
  padding-left: 52em;
  margin-top: 6.5rem;
}

.work-imgs {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
}

.gutter {
  padding-left: 1.3000rem;
  padding-right: 1.3000rem;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-8 {
  margin-bottom: 10.4000rem;
}

.pad-top, .pad-t {
  padding-top: 1.3rem;
}

.pad-top-1-4, .pad-t-1-4 {
  padding-top: 0.3250rem;
}

.margin-0 {
  margin: 0;
}

.push-b-0 {
  margin-bottom: 0;
}

/* typography


.work-nav {
  margin-top: 2.6rem;
}


.img-flex-1-2 {
  display: block;
  width: 50%;
}
