/* default styles */
body {
  min-width: 320px;
  letter-spacing: 0.01em;
  padding: 2vh 1.5vw;
  margin: 0;
}

html, body {
  height: 100%;
}

ul {
  list-style-type: none;
}

a, a:active {
  text-decoration: none;
  color: #000;
}

html {
  padding: 0;
  margin: 0;
}


.list-group {
  padding-left: 0;
  list-style-type: none;
}

.link, .link:hover {
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

h1 a:hover {
  outline: none;
  text-decoration: none;
}

a:hover {
  outline: none;
  text-decoration: underline;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 a {
  left: 50%;
}


/* spacing */

.header-wrapper {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  padding-top: 2.6rem;
  max-width: 2rem;
  max-height: 99px;
}

.main-container {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  margin-top: 7.8rem;
}

.portrait-container {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  margin-top: 1.3rem;
}

.hello-container {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
}

.footer-container {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  margin-top: 3.9rem;
  margin-bottom: 1.3rem;
}

.content-container {
  margin-top: 11.7rem;
}

.nav-container {
  margin-bottom: 2.6rem;
}


.work-text {
  width: 35%;
  padding-left: 52em;
  margin-top: 6.5rem;
}

.work-imgs {
  padding-left: 10.4rem;
  padding-right: 10.4rem;
}

.gutter {
  padding-left: 1.3000rem;
  padding-right: 1.3000rem;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-8 {
  margin-bottom: 10.4000rem;
}

.pad-top, .pad-t {
  padding-top: 1.3rem;
}

.pad-top-1-4, .pad-t-1-4 {
  padding-top: 0.3250rem;
}

.margin-0 {
  margin: 0;
}

.push-b-0 {
  margin-bottom: 0;
}

/* typography */

.mega {
  font-size: 1.2500rem;
  line-height: 1.7500rem;
}

.milli {
  font-size: 0.7502rem;
  line-height: 1.1250rem;
}

h6, .kilo, input, textarea {
  font-size: 1.0000rem;
  line-height: 1.4000rem;
}

.grey {
  color: #262626;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.italic {
  font-style: italic;
}

.sans {
  font-family: 'Lato', sans-serif;
}

h1 {
  margin: 0;
}

h2 a {
  margin-right: 1.3rem;
}

.unit {
  width: 100vw;
}

#header-wrapper {
  margin-bottom: 1.3rem;
}

p {
  margin: 0;
}

.grey-2 a {
  color: #857C7E;
}

.about-pg {
  background-color: #f5f0f1;
}

footer {
  margin-top: 10.4rem;
  margin-bottom: 1.3rem;
}

.work-nav {
  margin-top: 2.6rem;
}
